<form name="candidateProfileForm" method="post" novalidate ng-submit="submitCandidateProfile()" enctype='multipart/form-data' role="form">
    <h1 align="center">Candidate Profile</h1>
    <div id="candidateContainer">
        <ul class="">
            <li><a href="{{url}}1">Click to start RFR</a></li>
            <li><a href="{{url}}candidateProfile">Candidate Profile</a></li>
        </ul>

        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > Select Resume</span>
                <!--<input type="file" ng-model="resumeFile" ngf-select="" name="resumeFile" id="resumeFile" class="form-control" />
                <a href="javascript:void(0)" ng-click="uploadResume()">Click to upload</a>-->
                <input type="file" class="form-control" id="imageUploadfile" name="Imagefile" ng-model="Imagefile"  ngf-select="" />
                <input type="button" name="imageUploadButton" ng-click="uploadResume()" value="Upload" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
                <span class="help-block text-muted small-font" > Search Profile</span>
                <input type="text" class="form-control" id="searchCandidateProfileBox" name="searchCandidateProfileBox" ng-model="searchCandidateProfileBox"  placeholder="Enter Username For Search..." />
                <input type="button" name="searchCandidateProfileButton" ng-click="searchCandidateProfile()" value="Search" />
                <span class="error">{{errorMessage.searchCandidateProfile}}</span>
            </div>
        </div>

        <hr><h3>Personal Details</h3><hr>

        <!--First Section-->
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > Title<span class="requiredEstric">*</span></span>
                <select ng-model="profile.personalDetail.title" name="title" id="title" class="form-control" required>
                    <option value="">Select Type</option>
                    <option value="1">Mr.</option>
                    <option value="2">Mrs.</option>
                </select>
                <span class="error" ng-show="hasError('title', 'required')">Title is required.</span>
                <span class="error">{{errorMessage.title}}</span>
                <!--<p ng-show="(candidateProfileForm.profile.title.$dirty || submitted) && candidateProfileForm.profile.title.$error.required" class="help-block">Title is required.</p>-->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > First Name<span class="requiredEstric">*</span></span>
                <input ng-model="profile.personalDetail.firstName" name="firstName" id="firstName" class="form-control" placeholder="First Name" required>
                <span class="error" ng-show="hasError('firstName', 'required')">First Name is required.</span>
                <span class="error">{{errorMessage.firstName}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Middle Name</span>
                <input ng-model="profile.personalDetail.middleName" id="middleName" class="form-control" placeholder="Middle Name">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > Last Name</span>
                <input ng-model="profile.personalDetail.lastName" id="lastName" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > Gender<span class="requiredEstric">*</span></span>
                <select class="form-control" ng-model="profile.personalDetail.gender" name="gender" required>
                    <option value="">Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
                <span class="error" ng-show="hasError('gender', 'required')">Gender is required.</span>
                <span class="error">{{errorMessage.gender}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Marital Status<span class="requiredEstric">*</span></span>
                <select class="form-control" ng-model="profile.personalDetail.maritalStatus" name="maritalStatus" required>
                    <option value="">Select Marital Status</option>
                    <option value="1">Married</option>
                    <option value="2">Signle</option>
                </select>
                <span class="error" ng-show="hasError('maritalStatus', 'required')">Marital Status is required.</span>
                <span class="error">{{errorMessage.maritalStatus}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Contact No.<span class="requiredEstric">*</span></span>
                <input type="text" class="form-control" ng-model="profile.personalDetail.contactNo" name="contactNo" id="contactNo" placeholder="Contact No" required />
                <span class="error" ng-show="hasError('contactNo', 'required')">contact No is required.</span>
                <span class="error">{{errorMessage.contactNo}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Email ID<span class="requiredEstric">*</span></span>
                <input type="email" class="form-control" ng-model="profile.personalDetail.personalEmailId" name="personalEmailId" id="emailId" placeholder="Personal Email ID" required />
                <span class="error" ng-show="hasError('personalEmailId', 'required')">Email ID is required.</span>
                <span class="error" ng-show="hasError('personalEmailId', 'email')">Invalid email format.</span>
                <span class="error">{{errorMessage.personalEmailId}}</span>
            </div>
        </div>
        <!-- first section end -->
        <!-- second section -->
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Key Skills</span>
                <select class="form-control" ng-model="profile.personalDetail.skills" multiple>
                    <option value="">Select Skills</option>
                    <option value="1">Company 1</option>
                    <option value="2">Company 2</option>
                    <option value="3">Company 3</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > Total Experiance<span class="requiredEstric">*</span></span>
                <input type="text" class="form-control" placeholder="Total Experiance" ng-model="profile.personalDetail.totalExperiance" id="totalExperiance" name="totalExperiance" required="" />
                <span class="error" ng-show="hasError('totalExperiance', 'required')">Total Experiance ID is required.</span>
                <span class="error">{{errorMessage.totalExperiance}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > CTC</span>
                <input type="text" class="form-control" placeholder="CTC" ng-model="profile.personalDetail.ctc" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Location</span>
                <select class="form-control" ng-model="profile.personalDetail.designation">
                    <option value="">Select Location</option>
                    <option value="1">Location 1</option>
                    <option value="2">Location 2</option>
                    <option value="3">Location 3</option>
                    <option value="4">Location 4</option>
                </select>
            </div>
        </div>
        <!-- second section end-->
        <!-- third section -->
        <div class="row ">

            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Country<span class="requiredEstric">*</span></span>
                <select class="form-control" ng-model="profile.personalDetail.country" name="country" required>
                    <option value="">Select Country</option>
                    <option value="1">India</option>
                    <option value="2">Pakistan</option>
                    <option value="3">Australia</option>
                </select>
                <span class="error" ng-show="hasError('country', 'required')">Country is required.</span>
                <span class="error">{{errorMessage.country}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > State<span class="requiredEstric">*</span></span>
                <select class="form-control" ng-model="profile.personalDetail.state" id="state" name="state" required>
                    <option value="">Select State</option>
                    <option value="1">Rajasthan</option>
                    <option value="2">Haryana</option>
                    <option value="3">U.P.</option>
                </select>
                <span class="error" ng-show="hasError('state', 'required')">State is required.</span>
                <span class="error">{{errorMessage.state}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > City<span class="requiredEstric">*</span></span>
                <select class="form-control"ng-model="profile.personalDetail.state" id="city" name="city" required>
                    <option value="">Select City</option>
                    <option value="1">Gurgaon</option>
                    <option value="2">Delhi</option>
                    <option value="3">Jaipur</option>
                    <option value="3">Kota</option>
                </select>
                <span class="error" ng-show="hasError('city', 'required')">City is required.</span>
                <span class="error">{{errorMessage.city}}</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > PinCode<span class="requiredEstric">*</span></span>
                <input class="form-control" placeholder="Pin Code" ng-model="profile.personalDetail.pincode" name="pincode" required>
                <span class="error" ng-show="hasError('pincode', 'required')">Pin Code is required.</span>
                <span class="error">{{errorMessage.pincode}}</span>
            </div>
        </div>
        <!-- third section end-->
        <!-- fourth section -->
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > Mailing Address</span>
                <textarea class="form-control" placeholder="Mailing Address" ng-model="profile.personalDetail.mailingAddress"></textarea>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > Resume Headline</span>
                <input type="text" class="form-control" placeholder="Resume Headline" ng-model="profile.personalDetail.resumeHeadline" />
            </div>
        </div>
        <!--End fourth section-->


        <hr><h3>Employment Details</h3><hr>
        <a href="javascript:void(0)" ng-click="addEmploymentDetails()" class="btn btn-default" >Add More</a>
        <!--First section start-->
        <div ng-repeat="employmentdetail in profile.employmentDetails">
            <div  class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" > Current Employer Details</span>
                    <input class="form-control" placeholder="Current Employer" ng-model="employmentdetail.currentEmployer">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  Designation</span>
                    <select class="form-control" name="currentEmployerDesignation"  ng-model="employmentdetail.currentEmployerDesignation">
                        <option value="">Select Designation</option>
                        <option value="1">Software Engineer</option>
                        <option value="2">Senior Software Engineer</option>
                        <option value="3">Senior Manager</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  Job Profile</span>
                    <input type="email" class="form-control" placeholder="Job Profile" ng-model="employmentdetail.currentEmployerJobProfile" id="currentEmployerJobProfile" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" > Experiance From</span>
                    <input type="text" readonly value="" class="form-control" ng-model="employmentdetail.currentEmployerDurationMonthYearFrom" id="currentEmployerDurationMonthYearFrom">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" > Experiance To</span>
                    <input type="text" readonly value="" class="form-control" ng-model="employmentdetail.currentEmployerDurationMonthYearTo" id="currentEmployerDurationMonthYearTo">
                </div>
            </div>
        </div>
        <!--Second section end-->

        <hr><h3>Educational Details</h3><hr>
        <a href="javascript:void(0)" ng-click="addEducationDetails()" class="btn btn-default" >Add More</a>
        <!--First section start-->
        <div ng-repeat="educationalDetail in profile.educationalDetails">
            <div class="row ">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" > Highest Qualification</span>
                    <input class="form-control" placeholder="Highest Qualification" ng-model="educationalDetail.highestQualification">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  Course</span>
                    <input class="form-control" placeholder="Course" ng-model="educationalDetail.course">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  University College</span>
                    <input class="form-control" placeholder="University College" ng-model="educationalDetail.universityCollege">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  Course Type</span>
                    <select ng-model="educationalDetail.courseType" id="courseType" class="form-control">
                        <option value="">Course Type</option>
                        <option value="1">Full Time</option>
                        <option value="2">Part Time</option>
                        <option value="3">Correspondence</option>
                    </select>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" > Passing Year</span>
                    <input class="form-control" placeholder="Passing Year" ng-model="educationalDetail.passingYear" id="passingYear">
                </div>
            </div>
        </div>
        <!--First section end-->

        <hr><h3>Other Details</h3><hr>

        <!--First section start-->
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Expected Salary</span>
                <input class="form-control" type="text" placeholder="Expected Salary" ng-model="profile.otherDetail.expectedSalary">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Language Known</span>
                <select ng-model="profile.otherDetail.language" id="language" class="form-control" multiple>
                    <option value="">Language Known</option>
                    <option value="1">Hindi</option>
                    <option value="2">English</option>
                    <option value="3">Punjabi</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" >  Source of Job</span>
                <select ng-model="profile.otherDetail.sourceJob" id="sourceJob" class="form-control">
                    <option value="">Select Source of Job</option>
                    <option value="1">Company Website</option>
                    <option value="1">Referal</option>
                </select>
            </div>
        </div>
        <!--First section end-->

        <!--Submit Button section start-->
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font" > </span>
                <input type="submit" class="btn btn-info" name="button" value="Save & Submit">
            </div>
        </div>
        <!--Submit Button section end-->
        <hr>
    </div>
</form>