<h1 align="center">Recruiting Details</h1>
<div>
	<ul class="">
		<li><a href="{{url}}rfr/1">Click to start RFR</a></li>
		<li><a href="{{url}}candidateProfile">Candidate Profile</a></li>

	</ul>
</div>