<h1 align="center">RFR Approval </h1>

<h3 align="center" ng-model="message" ng-if="message == true">You are not the authorised person to do this.</h3>
<div ng-model="mainContainer" ng-if="mainContainer == true">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Request No</label>
            <div class="col-sm-3">
                <input type="text" name="requestNo" id="requestNo" readonly="readonly" class="form-control" ng-model="formdata.requestNo" />
                <input type="hidden" name="requisitionId" ng-model="formdata.requisitionId">
                <input type="hidden" name="detailsId" ng-model="formdata.detailsId">
                <input type="hidden" name="jobId" ng-model="formdata.jobId">
                <input type="hidden" name="qualificationId" ng-model="formdata.qualificationId">
                <input type="hidden" name="status" value="0" class="form-control" ng-model="formdata.status" />
                <span class="error">{{error.requestNo_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Request Date</label>
            <div class="col-sm-3">
                <input type="date" name="requestDate" readonly="readonly" id="trigdate" class="form-control datepicker" ng-model="formdata.requestDate" />
                <span class="error">{{error.requestDate_err}}</span>
            </div>
        </div>
    
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Requester Name</label>
            <div class="col-sm-3">
                <input type="text" name="requesterName" readonly="readonly" id="requesterName" class="form-control" ng-model="formdata.requesterName" />
                <span class="error">{{error.requestName_err}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Company</label>
            <div class="col-sm-3">
                <input type="text" name="company"  id="company" readonly="readonly" class="form-control" ng-model="formdata.company" />
                <input type="hidden" name="companyId" id="companyId" class="form-control" ng-model="formdata.companyId" />
                <span class="error">{{error.company_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Business Unit</label>
            <div class="col-sm-3">
                <select class="form-control" readonly="readonly" ng-model="formdata.businessUnit" name="businessUnit" id="businessUnit">
                    <option ng-repeat="bu in businessUnits" value="{{bu.value}}">{{bu.name}}</option>
                </select>
                <span class="error">{{error.businessUnit_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Grade</label>
            <div class="col-sm-3">
                <select class="form-control" readonly="readonly" ng-model="formdata.grade" name="grade" id="grade" >
                    <option ng-repeat="g in grades" value="{{g.value}}">{{g.name}}</option>
                </select>
                <span class="error">{{error.grade_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Grade Level</label>
            <div class="col-sm-3">
                <select class="form-control" readonly="readonly" ng-model="formdata.gradeLevel" name="gradeLevel" id="gradeLevel">
                    <option ng-repeat="gl in gradeLevels" value="{{gl.value}}">{{gl.name}}</option>
                </select>
                <span class="error">{{error.gradeLevel_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">No. Of Openings</label>
            <div class="col-sm-3">
                <input type="text" name="openings" readonly="readonly" id="openings" class="form-control" ng-model="formdata.openings" />
                <span class="error">{{error.openings_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Hiring Type</label>
            <div class="col-sm-3">
                <div class="radio">
                    <label><input value="replacement" readonly="readonly" type="radio" name="hiringType" ng-model="formdata.hiringType" />Replacement</label>
                </div>
                <div class="radio">
                    <label><input value="newhire" readonly="readonly" type="radio" name="hiringType" ng-model="formdata.hiringType" />New Hire</label>
                    <input type="text" name="replacementFor" readonly="readonly" class="form-control" ng-model="formdata.replacementFor" ng-show="formdata.hiringType == 'replacement'"  />
                    
                </div>
                <span class="error">{{error.hiringType_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Criticality</label>
            <div class="col-sm-3">
                <select class="form-control" readonly="readonly" ng-model="formdata.criticality" name="criticality" id="criticality">
                    <option ng-repeat="c in criticality" value="{{c.value}}">{{c.name}}</option>
                </select>
                <span class="error">{{error.criticality_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Request Closing Date</label>
            <div class="col-sm-3">
                <input type="date" readonly="readonly" name="closingDate" id="closingDate" class="form-control" ng-model="formdata.closingDate" />
                <span class="error">{{error.closingDate_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Request Starting Date</label>
            <div class="col-sm-3">
                <input type="date" readonly="readonly" name="startingDate" id="startingDate" class="form-control" ng-model="formdata.startingDate" />
                <span class="error">{{error.startingDate_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Target Hire Date</label>
            <div class="col-sm-3">
                <input type="date" readonly="readonly" name="targetHireDate" id="targetHireDate" class="form-control" ng-model="formdata.targetHireDate" />
                <span class="error">{{error.targetHireDate_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Target End Date</label>
            <div class="col-sm-3">
                <input type="date" readonly="readonly" name="targetEndDate" id="targetEndDate" class="form-control" ng-model="formdata.targetEndDate" />
                <span class="error">{{error.targetEndDate_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Is This Budgeted Position</label>
            <div class="col-sm-3">
                <div class="radio">
                    <label><input value="1" type="radio" readonly="readonly" name="isBudgeted" ng-model="formdata.isBudgeted" />Yes</label>
                </div>
                <div class="radio">
                    <label><input value="0" type="radio" readonly="readonly" name="isBudgeted" ng-model="formdata.isBudgeted" />No</label>
                </div>
                <span class="error">{{error.isBudgeted_err}}</span>
            </div>
            <div class="col-sm-3">
                 <label for="title" class="col-sm-3 control-label">Min Budget</label>
                <div class="col-sm-5">
                    <input type="text" name="minBudget" readonly="readonly" id="minBudget" class="form-control" ng-model="formdata.minBudget" />
                    <span class="error">{{error.minBudget_err}}</span>
                </div>
            </div>
            <div class="col-sm-3">
                 <label for="title" class="col-sm-3 control-label">Max Budget</label>
                <div class="col-sm-5">
                    <input type="text" name="maxBudget" readonly="readonly" id="maxBudget" class="form-control" ng-model="formdata.maxBudget" />
                    <span class="error">{{error.maxBudget_err}}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Approval Level</label>
            <!--<div class="col-sm-4">
                <button type="button" ng-click="summaryAddLevel()" readonly="readonly" ng-disabled="levelAdd" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>-->
        </div>

        <div class="form-group" ng-repeat="l in levels">
            <label for="title" class="col-sm-3 control-label">Level {{l.srNo}}</label>
            <div class="col-sm-1">
                <div class="radio">
                    <label><input value="{{l.level}}" type="checkbox" readonly="readonly" name="level" ng-model="l.level" /></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6">
                    <select class="form-control" ng-model="l.role" readonly="readonly"  name="role" id="role" ng-change="tempEmpl = getRoleEmployees(l.role,$index)">
                        <option ng-repeat="r in roles" value="{{r.value}}">{{r.name}}</option>
                    </select>
                <span class="error">{{error.role_err}}</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6">
                    <select class="form-control" readonly="readonly" ng-model="l.empCode" name="empCode" id="empCode">
                        <option ng-repeat="e in tempEmpl" value="{{e.value}}">{{e.name}}</option>
                    </select>
                    <span class="error">{{error.empCode_err}}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Recruitment Stages</label>
            <!--<div class="col-sm-4">
                <button type="button" readonly="readonly" ng-click="summaryAddStage()" ng-disabled="stageAdd" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>-->
        </div>

        <div class="form-group" ng-repeat="s in stages">
            <label for="title" class="col-sm-3 control-label">Stage {{s.srNo}}</label>
            <div class="col-sm-1">
                <div class="radio">
                    <label><input value="{{s.stage}}" readonly="readonly" type="checkbox" name="stage" ng-model="s.stage" /></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6">
                    <select class="form-control" readonly="readonly" ng-model="s.stageId"  name="stageId" id="stageId" ng-change="tempEmpl = getStageEmployees(s.stageId,$index)">
                        <option ng-repeat="stg in recruitmentStages" value="{{stg.value}}">{{stg.name}}</option>
                    </select>
                <span class="error">{{error.stageId_err}}</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6">
                    <select class="form-control" readonly="readonly" ng-model="s.empCode" name="empCode" id="empCode">
                        <option ng-repeat="e in tempEmpl" value="{{e.value}}">{{e.name}}</option>
                    </select>
                    <span class="error">{{error.empCode_err}}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="position" class="col-sm-3 control-label">Job Position</label>
            <div class="col-sm-3">
                <input type="text" name="position" readonly="readonly" id="position" class="form-control" ng-model="formdata.position" />
                <span class="error">{{error.position_err}}</span>
            </div>

        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-3">
                <select class="form-control" readonly="readonly" ng-model="formdata.location" name="location" id="location">
                    <option ng-repeat="l in locations" value="{{l.value}}">{{l.name}}</option>
                </select>
                <span class="error">{{error.location_err}}</span>
            </div>
        </div>
    
       <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Job Description</label>
            <div class="col-sm-3">
               <textarea class="form-control" readonly="readonly" name="description" id="description" ng-model="formdata.description"></textarea>
               <span class="error">{{error.description_err}}</span>
            </div>
        </div>
    
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Skills</label>
            <div class="col-sm-3">
                <textarea class="form-control" readonly="readonly" name="skills" id="skills" ng-model="formdata.skills"></textarea>
                <span class="error">{{error.skills_err}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Others</label>
            <div class="col-sm-3">
                <textarea class="form-control" readonly="readonly" name="others" id="others" ng-model="formdata.others"></textarea>
                <span class="error">{{error.requestNo_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Job Type</label>
            <div class="col-sm-3">
                <div class="radio">
                    <label><input value="permanent" readonly="readonly" type="radio" name="type" ng-model="formdata.type" />Permanent</label>
                </div>
                <div class="radio">
                    <label><input value="temporary" readonly="readonly" type="radio" name="type" ng-model="formdata.type" />Temporary</label>
                </div>
                <div class="radio">
                    <label><input value="contract" readonly="readonly" type="radio" name="type" ng-model="formdata.type" />Contract</label>
                </div>
                <span class="error">{{error.type_err}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Educational Qualification</label>
            <div class="col-sm-3">                    
               <textarea class="form-control" readonly="readonly" name="educationalQualification" id="educationalQualification" ng-model="formdata.educationalQualification"></textarea>
               <span class="error">{{error.educationalQualification_err}}</span>
            </div>
        </div>
    
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Experience</label>
            <div class="col-sm-3">
                <textarea class="form-control" readonly="readonly" name="experience" id="experience" ng-model="formdata.experience"></textarea>
                <span class="error">{{error.experience_err}}</span>
            </div>
        </div>

        <div class="form-group" ng-repeat="r in approvalRemarks">
            <label for="title" class="col-sm-3 control-label">Remarks {{r.srNo}}</label>
            <div class="col-sm-3">
                <textarea class="form-control" readonly="readonly">{{r.remarks}}</textarea>
            </div>
        </div>

        <div class="form-group" ng-model="remarksDiv" ng-if="remarksDiv == true">
            <label for="title" class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-3">
                <textarea class="form-control" name="remarks" ng-model="formdata.remarks"></textarea>
                <input type="hidden" name="createdBy" ng-model="createdBy">
                <span class="error">{{error.remarks_err}}</span>
            </div>
        </div>
        
        <div class="form-group" ng-if="remarksDiv == true">
            <div class="col-sm-3"> </div>
            <div class="col-sm-3">
                <input type="button" value="Approve" class="btn btn-primary col-sm-offset-3" ng-click="updateLevelStatus(3)" />
            </div>
            <div class="col-sm-3">
                <input type="button" value="Reject" class="btn btn-primary col-sm-offset-3" ng-click="updateLevelStatus(4)" />
            </div>
        </div>
    </form>
</div>