<h1 align="center">Recruiting Details</h1>
<div >
        <form class="form-horizontal" ng-submit="submitDetailsForm()" role="form">
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Request No</label>
                <div class="col-sm-3">
                    <input type="text" name="requestNo" id="requestNo" class="form-control" ng-model="formdata.requestNo" />
                    <input type="hidden" name="requisitionId" ng-model="formdata.requisitionId">
                    <input type="hidden" name="id" ng-model="formdata.id"/>
                    <span class="error">{{error.requestNo_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Request Date</label>
                <div class="col-sm-3">
                    <input type="date" name="requestDate" id="trigdate" class="form-control datepicker" ng-model="formdata.requestDate" />
                    <span class="error">{{error.requestDate_err}}</span>
                </div>
            </div>
        
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Requester Name</label>
                <div class="col-sm-3">
                    <input type="text" name="requesterName" id="requesterName" class="form-control" ng-model="formdata.requesterName" />
                    <span class="error">{{error.requesterName_err}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Company</label>
                <div class="col-sm-3">
                    <input type="text" name="company" id="company" readonly="readonly" class="form-control" ng-model="formdata.company" />
                    <input type="hidden" name="companyId" id="companyId" class="form-control" ng-model="formdata.companyId" />
                    <span class="error">{{error.company_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Business Unit</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="formdata.businessUnit" name="businessUnit" id="businessUnit">
                        <option ng-repeat="bu in businessUnits" value="{{bu.value}}">{{bu.name}}</option>
                    </select>
                    <span class="error">{{error.businessUnit_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Grade</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="formdata.grade" name="grade" id="grade" >
                        <option ng-repeat="g in grades" value="{{g.value}}">{{g.name}}</option>
                    </select>
                    <span class="error">{{error.grade_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Grade Level</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="formdata.gradeLevel" name="gradeLevel" id="gradeLevel">
                        <option ng-repeat="gl in gradeLevel" value="{{gl.value}}">{{gl.name}}</option>
                    </select>
                    <span class="error">{{error.gradeLevel_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">No. Of Openings</label>
                <div class="col-sm-3">
                    <input type="text" name="openings" id="openings" class="form-control" ng-model="formdata.openings" />
                    <span class="error">{{error.openings_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Hiring Type</label>
                <div class="col-sm-3">
                    <div class="radio">
                        <label><input value="replacement" type="radio" name="hiringType" ng-model="formdata.hiringType" />Replacement</label>
                    </div>
                    <div class="radio">
                        <label><input value="newhire" type="radio" name="hiringType" ng-model="formdata.hiringType" />New Hire</label>
                        <input type="text" name="replacementFor" class="form-control" ng-model="formdata.replacementFor" ng-show="formdata.hiringType == 'replacement'"  />
                        <input type="hidden" name="status" value="0" class="form-control" ng-model="formdata.status" />
                    </div>
                    <span class="error">{{error.hiringType_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Criticality</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="formdata.criticality" name="criticality" id="criticality">
                        <option ng-repeat="c in criticality" value="{{c.value}}">{{c.name}}</option>
                    </select>
                    <span class="error">{{error.criticality_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Request Closing Date</label>
                <div class="col-sm-3">
                    <input type="date" name="closingDate" id="closingDate" class="form-control" ng-model="formdata.closingDate" />
                    <span class="error">{{error.closingDate_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Request Starting Date</label>
                <div class="col-sm-3">
                    <input type="date" name="startingDate" id="startingDate" class="form-control" ng-model="formdata.startingDate" />
                    <span class="error">{{error.startingDate_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Target Hire Date</label>
                <div class="col-sm-3">
                    <input type="date" name="targetHireDate" id="targetHireDate" class="form-control" ng-model="formdata.targetHireDate" />
                    <span class="error">{{error.targetHireDate_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Target End Date</label>
                <div class="col-sm-3">
                    <input type="date" name="targetEndDate" id="targetEndDate" class="form-control" ng-model="formdata.targetEndDate" />
                    <span class="error">{{error.targetEndDate_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Is This Budgeted Position</label>
                <div class="col-sm-3">
                    <div class="radio">
                        <label><input value="1" type="radio" name="isBudgeted" ng-model="formdata.isBudgeted" />Yes</label>
                    </div>
                    <div class="radio">
                        <label><input value="0" type="radio" name="isBudgeted" ng-model="formdata.isBudgeted" />No</label>
                    </div>
                    <span class="error">{{error.isBudgeted_err}}</span>
                </div>
                <div class="col-sm-3">
                     <label for="title" class="col-sm-5 control-label">Min Budget</label>
                    <div class="col-sm-5">
                        <input type="text" name="minBudget" id="minBudget" class="form-control" ng-model="formdata.minBudget" />
                        <span class="error">{{error.minBudget_err}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                     <label for="title" class="col-sm-5 control-label">Max Budget</label>
                    <div class="col-sm-5">
                        <input type="text" name="maxBudget" id="maxBudget" class="form-control" ng-model="formdata.maxBudget" />
                        <span class="error">{{error.maxBudget_err}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Approval Level</label>
                <div class="col-sm-4">
                    <button type="button" ng-click="detailsAddLevel()" ng-disabled="levelAdd" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>

            <div class="form-group" ng-repeat="l in levels">
                <label for="title" class="col-sm-3 control-label">Level {{l.srNo}}</label>
                <div class="col-sm-1">
                    <div class="radio">
                        <label><input value="{{l.level}}" type="checkbox" name="level" ng-model="l.level" /></label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="l.role"  name="role" id="role" ng-change="tempEmpl = getRoleEmployees(l.role,$index)">
                            <option ng-repeat="r in roles" value="{{r.value}}">{{r.name}}</option>
                        </select>
                    <span class="error">{{error.role_err}}</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="l.empCode" name="empCode" id="empCode">
                            <option ng-repeat="e in tempEmpl" value="{{e.value}}">{{e.name}}</option>
                        </select>
                        <span class="error">{{error.empCode_err}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Recruitment Stages</label>
                <div class="col-sm-4">
                    <button type="button" ng-click="detailsAddStage()" ng-disabled="stageAdd" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>

            <div class="form-group" ng-repeat="s in stages">
                <label for="title" class="col-sm-3 control-label">Stage {{s.srNo}}</label>
                <div class="col-sm-1">
                    <div class="radio">
                        <label><input value="{{s.stage}}" type="checkbox" name="stage" ng-model="s.stage" /></label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="s.stageId"  name="stageId" id="stageId" ng-change="tempEmpl = getStageEmployees(s.stageId,$index)">
                            <option ng-repeat="stg in recruitmentStages" value="{{stg.value}}">{{stg.name}}</option>
                        </select>
                    <span class="error">{{error.stageId_err}}</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="s.empCode" name="empCode" id="empCode">
                            <option ng-repeat="e in tempEmpl" value="{{e.value}}">{{e.name}}</option>
                        </select>
                        <span class="error">{{error.empCode_err}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <input type="button" value="Back" class="btn btn-primary col-sm-offset-3" ng-click="detailsGoback()" />
                    <input type="submit" value="Next" class="btn btn-primary col-sm-offset-3" />
                    
                </div>
            </div>
        </form>
    </div>