<h1 align="center">Requisition Job Details</h1>
<div>
        <form class="form-horizontal" ng-submit="submitJobForm()" role="form">
            <div class="form-group">
                <label for="position" class="col-sm-3 control-label">Job Position</label>
                <div class="col-sm-3">
                    <input type="text" name="position" id="position" class="form-control" ng-model="formdata.position" />
                    <input type="hidden" name="requisitionId" ng-model="formdata.requisitionId">
                    <input type="hidden" name="id" ng-model="formdata.id"/>
                    <span class="error">{{error.position_err}}</span>
                </div>

            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Location</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="formdata.location" name="location" id="location">
                        <option ng-repeat="l in locations" value="{{l.value}}">{{l.name}}</option>
                    </select>
                    <span class="error">{{error.location_err}}</span>
                </div>
            </div>
        
           <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Job Description</label>
                <div class="col-sm-3">
                   <textarea class="form-control" name="description" id="description" ng-model="formdata.description"></textarea>
                   <span class="error">{{error.description_err}}</span>
                </div>
            </div>
        
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Skills</label>
                <div class="col-sm-3">
                    <textarea class="form-control" name="skills" id="skills" ng-model="formdata.skills"></textarea>
                    <span class="error">{{error.skills_err}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Others</label>
                <div class="col-sm-3">
                    <textarea class="form-control" name="others" id="others" ng-model="formdata.others"></textarea>
                    <span class="error">{{error.others_err}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Job Type</label>
                <div class="col-sm-3">
                    <div class="radio">
                        <label><input value="permanent" type="radio" name="type" ng-model="formdata.type" />Permanent</label>
                    </div>
                    <div class="radio">
                        <label><input value="temporary" type="radio" name="type" ng-model="formdata.type" />Temporary</label>
                    </div>
                    <div class="radio">
                        <label><input value="contract" type="radio" name="type" ng-model="formdata.type" />Contract</label>
                        <input type="hidden" name="status" value="0" class="form-control" ng-model="formdata.status" />
                    </div>
                    <span class="error">{{error.type_err}}</span>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="button" value="Back" class="btn btn-primary col-sm-offset-3" ng-click="jobGoBack()" />
                    <input type="submit" value="Next" class="btn btn-primary col-sm-offset-3" />
                    
                </div>
            </div>
        </form>
    </div>