<h1 align="center">Requisition Qualification Details</h1>
<div>
        <form class="form-horizontal" ng-submit="submitQualificationForm()" role="form">        
           <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Educational Qualification</label>
                <div class="col-sm-3">
                    <input type="hidden" name="requisitionId" ng-model="formdata.requisitionId">
                    <input type="hidden" name="id" ng-model="formdata.id"/>
                    <input type="hidden" name="status" value="0" class="form-control" ng-model="formdata.status" />
                   <textarea class="form-control" name="educationalQualification" id="educationalQualification" ng-model="formdata.educationalQualification"></textarea>
                   <span class="error">{{error.educationalQualification_err}}</span>
                </div>
            </div>
        
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Experience</label>
                <div class="col-sm-3">
                    <textarea class="form-control" name="experience" id="experience" ng-model="formdata.experience"></textarea>
                    <span class="error">{{error.experience_err}}</span>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="button" value="Back" class="btn btn-primary col-sm-offset-3" ng-click="qualificationGoBack()" />
                    <input type="submit" value="Next" class="btn btn-primary col-sm-offset-3" />
                    
                </div>
            </div>
        </form>
    </div>