<h1 align="center">Create Request for Requisition</h1>
<div>
        <form name="myForm" class="form-horizontal" ng-submit="submitRequisitionForm()" role="form" novalidate>
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Details From Existing Job Requisition</label>
                <div class="col-sm-6">
                    <input type="hidden" name="requisitionId" ng-model="requisition.requisitionId"/>
                    <input type="text" id="title" name="title" ng-minlength="3" ng-maxlength="200" class="form-control" ng-model="requisition.title" required />
                    
                </div>
                <span class="error">{{error.title_err}}</span>
                
                <div class="col-sm-3"></div>

            </div>
        
            <div class="form-group">

                <label for="positionType" class="col-sm-3 control-label">Position Type</label>
                <div class="col-sm-3">
                    <div class="radio">
                        <label><input value="new" type="radio" name="positionType" ng-model="requisition.positionType" />
                        Create New Position</label>
                    </div>
                    <div class="radio">
                        <label><input value="existing" type="radio" name="positionType" ng-model="requisition.positionType" />For Existing Position</label>
                    </div>
                    
                    <div class="radio">
                        <label><input value="other" type="radio" name="positionType" ng-model="requisition.positionType" />None Of The Above</label>
                        <input type="text" name="other" class="form-control" ng-model="requisition.other" ng-if="requisition.positionType == 'other'" placeholder="Justify" />
                        <input type="hidden" name="status" value="0" class="form-control" ng-model="requisition.status" />
                    </div>
                    
                </div>
                <span class="error">{{error.positionType_err}}</span>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="submit" value="Save" class="btn btn-primary col-sm-offset-3" />
                    <input type="reset" value="Reset" class="btn btn-primary col-sm-offset-3" ng-click="resetRequisitionForm()" />
                </div>
            </div>
        </form>
    </div>